<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropKindle 登录</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>DropKindle 登录</h1>
       <form action="/login/" method="post">
       {% csrf_token %} 
            <p>
                <label for="username">用户名：</label>
                <input type="text" id="username" name="username" placeholder="用户名" autofocus required />
            </p>
          
            <p>
                <label for="id_password">密码：</label>
                <input type="password" id="password" placeholder="密码" name="password" required >
            </p>
            <input type="submit" value="确定">
        </form>
    </div>

</body>
</html>