<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DropKindle 注册</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>DropKindle 注册</h1>
       <form action="/register/" method="post">
       {% csrf_token %} 
            <p>
                <label for="id_username">用户名: </label>
                <input type="text" id="username" name="username" placeholder="用户名" autofocus required />
            </p>

            <p>
                <label for="id_email">Kindle邮件地址: </label>
                <input type="email" id="email" name="email" placeholder="Kindle邮件地址" autofocus required />
            </p>
          
            <p>
                <label for="id_password">密码: </label>
                <input type="password" id="password" placeholder="密码" name="password" required >
            </p>

            <p>
                <label for="id_password">重复密码: </label>
                <input type="password" id="repassword" placeholder="重复密码" name="repassword" required >
            </p>

            <input type="submit" value="提交">
        </form>
    </div>

</body>
</html>
